#test images
images/
rgb_images/
box_2d_annotations/
annotations/
labeled_images/
unlabeled_images/

#weights and logs
checkpoints/*
!checkpoints/readme.txt
logs/*
quantized_models/*

#Cache that is not necessary to push
__pycache__/